.caption {
  background: #333;
}

.caption p {
  color: #fff;
}

.slide-cover::after {
  opacity: 0;
}

.slide::after {
  left: 96px;
  bottom: 44px;
}

.slide-right::after {
  right: 96px;
  left: auto;
}

.slide h2 {
  color: #333;
}

.slide-cover h2 {
  margin: 30px 0 0;
  text-align: center;
  font-size: 72px;
}

.slide-cover p {
  text-align: center;
}

.slide .column-6 {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.slide .column-3 {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.slide .column-9 {
  display: inline-block;
  width: 66%;
  vertical-align: top;
}

.slide:nth-of-type(3) .column-6 img {
  height: 400px;
}

.progress {
  box-shadow: none;
  background: #a0a1a7;
}

.slide pre {
  margin-top: -1.05em;
}

.slide pre code {
  line-height: 1.4;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slide pre code:not(:only-child)::before {
  display: none;
}

.slide pre.pre--header {
  margin-bottom: -0.3em;
}

.slide pre.pre--closely {
  margin-bottom: -2.75em;
}

blockquote p,
i,
math {
  font-family: serif;
}

math {
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
}

.slide .cover {
  z-index: 2;
}

.slide .cover.cover-md {
  width: 50%;
  max-height: 50%;
}

.slide .cover.cover-full {
  width: 100%;
}

.slide a {
  background: none;
  color: #a0a1a7;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
}

.slide code, .slide kbd, .slide mark, .slide samp {
  background: #bdbdbd;
}
